.cursor-type {
    cursor: pointer !important;
}

.themes-section {
    width: 60% !important;
    margin-left: 20% !important;
}

.themes-section figure {
    max-height: 250px;
    width: 100%;
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    min-width: 200px;
    display: none;
    z-index: 1000;
}